/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #ff6961;
}

body {
  background: #f2f2f2;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}
